<div class="ui vertical stripe links segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row"><div class="links column">
                        <div class="ui top attached id="APP">福利APP：手機黨的必備神器</div>
                        <div class="ui labels">
                                  <div class="box">
                                          
                            <a href="https://ggtf000.me/xx/d/1" target="_blank" class="ui image"><img src="/images/yy.jpg">呦呦00萝莉</a>
                            <a href="https://ggtf000.me/xx/d/1" target="_blank" class="ui image"><img src="/images/gg.png">广告招租</a>
                            <a href="https://ggtf000.me/xx/d/1" target="_blank" class="ui image"><img src="/images/gg.png">广告招租</a>
                            <a href="https://ggtf000.me/xx/d/1" target="_blank" class="ui image"><img src="/images/gg.png">广告招租</a>
                            <a href="https://ggtf000.me/xx/d/1" target="_blank" class="ui image"><img src="/images/gg.png">广告招租</a>
                            <a href="https://ggtf000.me/xx/d/1" target="_blank" class="ui image"><img src="/images/gg.png">广告招租</a>
                            <a href="https://ggtf000.me/xx/d/1" target="_blank" class="ui image"><img src="/images/gg.png">广告招租</a>
                            <a href="https://ggtf000.me/xx/d/1" target="_blank" class="ui image"><img src="/images/gg.png">广告招租</a>
                            <a href="https://ggtf000.me/xx/d/1" target="_blank" class="ui image"><img src="/images/gg.png">广告招租</a>
                                          
                                 </div>                  
                        </div>
            </div>
        </div>
  </div>
<style>
.box{text-align:center; font-szie:18px;}
.box img {width:90px;padding:10px;}
</style>