* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #212529;
    color: #ccc;
}

.main {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#logo {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 5px;
    margin-bottom: 15px;
}
#logo span {
    color: #c72b23;
}

#loading {
    display: none;
}

#loaded {
    display: flex;
}

#loaded h3 {
    margin-bottom: 15px;
}


#floatingCirclesG {
    position: relative;
    width: 128px;
    height: 128px;
    transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: #FFFFFF;
    height: 23px;
    width: 23px;
    border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    animation-name: f_fadeG;
    -o-animation-name: f_fadeG;
    -ms-animation-name: f_fadeG;
    -webkit-animation-name: f_fadeG;
    -moz-animation-name: f_fadeG;
    animation-duration: 1.04s;
    -o-animation-duration: 1.04s;
    -ms-animation-duration: 1.04s;
    -webkit-animation-duration: 1.04s;
    -moz-animation-duration: 1.04s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#frotateG_01 {
    left: 0;
    top: 52px;
    animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -moz-animation-delay: 0.39s;
}

#frotateG_02 {
    left: 15px;
    top: 15px;
    animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -moz-animation-delay: 0.52s;
}

#frotateG_03 {
    left: 52px;
    top: 0;
    animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -moz-animation-delay: 0.65s;
}

#frotateG_04 {
    right: 15px;
    top: 15px;
    animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -moz-animation-delay: 0.78s;
}

#frotateG_05 {
    right: 0;
    top: 52px;
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

#frotateG_06 {
    right: 15px;
    bottom: 15px;
    animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
}

#frotateG_07 {
    left: 52px;
    bottom: 0;
    animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -moz-animation-delay: 1.17s;
}

#frotateG_08 {
    left: 15px;
    bottom: 15px;
    animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

@keyframes f_fadeG {
    0% {
        background-color: #000000;
    }
    100% {
        background-color: #FFFFFF;
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: #000000;
    }
    100% {
        background-color: #FFFFFF;
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: #000000;
    }
    100% {
        background-color: #FFFFFF;
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: #000000;
    }
    100% {
        background-color: #FFFFFF;
    }
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: #000000;
    }
    100% {
        background-color: #FFFFFF;
    }
}
